<h2><%= @conversation.subject %></h2>


<% @conversation.receipts_for(current_user).order("updated_at").each do |receipt| %>

    <div class="">

      <% if receipt.message.sender == current_user %>
          You: <%= receipt.message.body %>
          <br><br>
      <% else %>
          <%= receipt.message.sender.username %>: <%= receipt.message.body %>
          <br><br>
      <% end %>

    </div>

<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div class="">
      <%= text_area_tag :body %>
    </div>

      <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>

<!--<%#= simple_form_for conversation_messages_path(@conversation), :method => 'post' do |f| %>
    <div class="">
      <%#= f.text_area :body, label: "Message" %>
    </div>

    <%#= f.submit 'Send' %>
<%# end %>-->