<script style="text/javascript">
  $(document).ready(function(){
    $("#home").click(function(){
      $("p").show();
    });
  });
</script>

<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-2">
    <ul class="nav nav-pills nav-stacked">

      <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>

      <li><a data-toggle="tab" href="#post">My Posts</a></li>

      <li><a data-toggle="tab" href="#book">My Bookings</a></li>

    </ul>
  </div>

  <div class=".col-xs-12 .col-sm-6 .col-md-8">
    <div class="tab-content">

      <div id="home" class="tab-pane fade in active">

        <b>Username:</b> &nbsp <%= current_user.username %>
        <br>
        <br>
        <b>Email:</b> &nbsp <%= current_user.email %>

      </div>

      <div id="post" class="tab-pane fade">

        <div class="col-xs-6 col-sm-2">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="tab" href="#pvehicle">Vehicle</a></li>
            <li><a data-toggle="tab" href="#pcondo">Condo</a></li>
          </ul>
        </div>

        <div class=".col-xs-12 .col-sm-6 .col-md-8">
          <div class="tab-content">
            <div id="pvehicle" class="tab-pane fade in active">

              <% @display = Passengerride.where('(user_id = ?)', current_user.id) %>

              <% if @display.present? %>

                  <% @display.reverse.each do |passengerride| %>
                      <div class="well col-xs-8 col-xs-offset">

                        <div class="container-fluid">

                          <div class="row">

                            <div class="col-lg-6"><hr>
                              <p>
                                <b>Type of Vehicle</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= passengerride.vehicle %>
                              </p>
                              <p>
                                <b>Model</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= passengerride.model %>
                              </p>
                              </p>
                              <p>
                                <b>Rent</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#3647;<%= passengerride.rent %> / Day
                              </p>
                              <hr>
                            </div>

                          </div>


                          <p><b>Posted by</b> <%= passengerride.user.username %> <%= time_ago_in_words(passengerride.created_at) %> ago</p>
                          <div class="passengerride-actions">
                            <% if passengerride.user == current_user %>
                                <%= link_to 'View Details', passengerride_path(passengerride), class: "btn btn-info" %>
                                <% @rangedds = Requestforpm.where('(passengerride_id = ?) AND (status = ?)', passengerride.id, 'Accepted') %>

                                <% if @rangedds.present? %>

                                <% else %>
                                    <%= link_to 'Edit', edit_passengerride_path(passengerride), class: "btn btn-success" %>
                                    <%= link_to 'Delete', passengerride_path(passengerride), method: :delete,
                                                data: { confirm: "Are you sure you want to delete this ride?"},
                                                class: "btn btn-danger"%>
                                <% end %>
                            <% else %>
                                <%= link_to 'View Details', passengerride_path(passengerride), class: "btn btn-info" %>
                                <%= link_to 'Add Ride', passengerride_path(passengerride), class: "btn btn-primary" %>
                                <%= link_to 'Message', passengerride_path(passengerride), class: "btn btn-warning" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                  <% end %>

              <% else %>

                  <b>No Posts to Display</b>

              <% end %>

            </div>
            <div id="pcondo" class="tab-pane fade">

              <% @disp = Driverride.where('(user_id = ?)', current_user.id) %>
              <% if @disp.present? %>


                  <% @disp.reverse.each do |driverride| %>
                      <div class="well col-xs-8 col-xm">
                        <div class="container-fluid">

                          <div class="row">

                            <div class="col-lg-6"><hr>
                              <p>
                                <b>Name of the Condo</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.name %>
                              </p>
                              <p>
                                <b>Contract</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.contract %> Months
                              </p>
                              </p>
                              <p>
                                <b>Rent</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#3647;<%= driverride.rent %> / Month
                              </p>
                              <hr>
                            </div>

                          </div>

                          <div class="row">

                            <div class="col-lg-6">

                              <p><b>Posted by</b> <%= driverride.user.username %> <%= time_ago_in_words(driverride.created_at) %> ago</p>
                            </div>


                          </div>

                          <br>



                          <div class="row">
                            <div class="col-lg-6">
                              <div class="driverride-actions">
                                <% if driverride.user == current_user %>
                                    <%= link_to 'View Details', driverride_path(driverride), class: "btn btn-info" %>
                                    <% @rangedd = Requestfordm.where('(driverride_id = ?) AND (status = ?)', driverride.id, 'Accepted') %>

                                    <% if @rangedd.present? %>

                                    <% else %>

                                        <%= link_to 'Edit', edit_driverride_path(driverride), class: "btn btn-success" %>
                                        <%= link_to 'Delete', driverride_path(driverride), method: :delete,
                                                    data: { confirm: "Are you sure you want to delete this ride?"},
                                                    class: "btn btn-danger"%>
                                    <% end %>
                                <% else %>
                                    <%= link_to 'View Details', driverride_path(driverride), class: "btn btn-info" %>
                                    <%= link_to 'Add Ride', driverride_path(driverride), class: "btn btn-primary" %>
                                    <%= link_to 'Message', driverride_path(driverride), class: "btn btn-warning" %>
                                <% end %>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>

              <% else %>

                  <b>No Posts to Display</b>

              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div id="book" class="tab-pane fade">

        <div class="col-xs-6 col-sm-2">

          <ul class="nav nav-pills nav-stacked">

            <li class="active"><a data-toggle="tab" href="#vehicle">Vehicle</a></li>
            <li><a data-toggle="tab" href="#condo">Condo</a></li>

          </ul>
        </div>

        <div class=".col-xs-12 .col-sm-6 .col-md-8">
          <div class="tab-content">
            <div id="vehicle" class="tab-pane fade in active">

              <% @di = Requestforpm.where('(customer_id = ?)', current_user.id) %>
              <% if @di.present? %>

                  <% @di.reverse.each do |passengerride| %>
                      <div class="well col-xs-8 col-xs-offset">

                        <div class="container-fluid">

                          <div class="row">

                            <div class="col-lg-6"><hr>
                              <p>
                                <b>Type of Vehicle</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= passengerride.passengerride.vehicle %>
                              </p>
                              <p>
                                <b>Model</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= passengerride.passengerride.model %>
                              </p>
                              </p>
                              <p>
                                <b>Rent</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#3647;<%= passengerride.passengerride.rent %> / Day
                              </p>
                              <hr>
                            </div>

                          </div>


                          <p><b>Posted by</b> <%= passengerride.passengerride.user.username %> <%= time_ago_in_words(passengerride.passengerride.created_at) %> ago</p>
                          <div class="passengerride-actions">
                            <% if passengerride.passengerride.user == current_user %>
                                <%= link_to 'View Details', passengerride_path(passengerride.passengerride), class: "btn btn-info" %>
                                <% @rangedds = Requestforpm.where('(passengerride_id = ?) AND (status = ?)', passengerride.id, 'Accepted') %>

                                <% if @rangedds.present? %>

                                <% else %>
                                    <%= link_to 'Edit', edit_passengerride_path(passengerride.passengerride), class: "btn btn-success" %>
                                    <%= link_to 'Delete', passengerride_path(passengerride.passengerride), method: :delete,
                                                data: { confirm: "Are you sure you want to delete this ride?"},
                                                class: "btn btn-danger"%>
                                <% end %>
                            <% else %>
                                <%= link_to 'View Details', passengerride_path(passengerride.passengerride), class: "btn btn-info" %>
                                <%= link_to 'Add Ride', passengerride_path(passengerride.passengerride), class: "btn btn-primary" %>
                                <%= link_to 'Message', passengerride_path(passengerride.passengerride), class: "btn btn-warning" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                  <% end %>

              <% else %>

                  <b>No Posts to Display</b>

              <% end %>

            </div>
            <div id="condo" class="tab-pane fade">

              <% @displ = Requestfordm.where('(customer_id = ?)', current_user.id) %>
              <% if @displ.present? %>


                  <% @displ.reverse.each do |driverride| %>
                      <div class="well col-xs-8 col-xm">
                        <div class="container-fluid">

                          <div class="row">

                            <div class="col-lg-6"><hr>
                              <p>
                                <b>Name of the Condo</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.driverride.name %>
                              </p>
                              <p>
                                <b>Contract</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.driverride.contract %> Months
                              </p>
                              </p>
                              <p>
                                <b>Rent</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#3647;<%= driverride.driverride.rent %> / Month
                              </p>
                              <hr>
                            </div>

                          </div>

                          <div class="row">

                            <div class="col-lg-6">

                              <p><b>Posted by</b> <%= driverride.driverride.user.username %> <%= time_ago_in_words(driverride.driverride.created_at) %> ago</p>
                            </div>


                          </div>

                          <br>



                          <div class="row">
                            <div class="col-lg-6">
                              <div class="driverride-actions">
                                <% if driverride.driverride.user == current_user %>
                                    <%= link_to 'View Details', driverride_path(driverride.driverride), class: "btn btn-info" %>
                                    <% @rangedd = Requestfordm.where('(driverride_id = ?) AND (status = ?)', driverride.id, 'Accepted') %>

                                    <% if @rangedd.present? %>

                                    <% else %>

                                        <%= link_to 'Edit', edit_driverride_path(driverride.driverride), class: "btn btn-success" %>
                                        <%= link_to 'Delete', driverride_path(driverride.driverride), method: :delete,
                                                    data: { confirm: "Are you sure you want to delete this ride?"},
                                                    class: "btn btn-danger"%>
                                    <% end %>
                                <% else %>
                                    <%= link_to 'View Details', driverride_path(driverride.driverride), class: "btn btn-info" %>
                                    <%= link_to 'Add Ride', driverride_path(driverride.driverride), class: "btn btn-primary" %>
                                    <%= link_to 'Message', driverride_path(driverride.driverride), class: "btn btn-warning" %>
                                <% end %>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>

              <% else %>

                  <b>No Posts to Display</b>

              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>