<script type="text/javascript">

  $(document).ready(function() {

    var outputSpan = $('#spanOutput');
    var sliderElement = $("#slider");

    sliderElement.slider({

      range: true,
      min: 0,
      max: 50000,
      step: 1,
      values: [0, 50000],
      animate: 'slow',

      slide: function(event, ui) {
        outputSpan.html(ui.values[0] + '&#3647' + ' &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
            '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
            '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
            '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
            '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
            '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ui.values[1] + '&#3647');
      },
      stop: function(event, ui){
        $('#q_rent_gteq').val(ui.values[0]);
        $('#q_rent_lteq').val(ui.values[1]);
      }
    });
    outputSpan.html(sliderElement.slider('values', 0) + ' &#3647 ' + ' &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
        '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
        '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
        '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
        '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
        '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'
        + sliderElement.slider('values', 1) + '&#3647');
  });

</script>


<h2 align="center">Search for Condo</h2>
<br>

<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-horizontal">

          <%= search_form_for @q do |f| %>

              <div class="form-group ">
                <div class="control-label col-sm-2 ">
                  <p><b>Rent Range</b> </p>
                </div>
                <div class="col-sm-8">
                  <span id="spanOutput"></span>
                  <%= f.hidden_field :rent_gteq, class: 'form-control', placeholder: 'Minimum Rent' %>
                  <%= f.hidden_field :rent_lteq, class: 'form-control', placeholder: 'Maximum Rent' %>
                </div>
                <div class="col-sm-8" align="center">
                  <div id="slider"></div>
                  <br>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                  <div>
                    <%= f.submit 'Search', class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-iso">
  <div class="container-fluid">

    <div align="right">
      <%= sort_link @q, :rent, "Sort by Price" %> |  <%= sort_link @q, :contract, "Sort by Contract" %> |  <%= sort_link @q, :name, "Sort by Name" %>
    </div>

  </div>
</div>

<% if @driverrides.present? %>


    <% @driverrides.each do |driverride| %>
        <div class="well col-xs-14 col-xs-offset">
          <div class="container-fluid">

            <div class="row">

              <div class="col-lg-6"><hr>
                <p>
                  <b>Name of the Condo</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.name %>
                </p>
                <p>
                  <b>Contract</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= driverride.contract %> Months
                </p>
                </p>
                <p>
                  <b>Rent</b>: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#3647;<%= driverride.rent %> / Month
                </p>
                <hr>
              </div>

            </div>

            <div class="row">

              <div class="col-lg-6">

                <p><b>Posted by</b> <%= driverride.user.username %> <%= time_ago_in_words(driverride.created_at) %> ago</p>
              </div>


            </div>

            <br>



            <div class="row">
              <div class="col-lg-6">
                <div class="driverride-actions">
                  <% if driverride.user == current_user %>
                      <%= link_to 'View Details', driverride_path(driverride), class: "btn btn-info" %>
                      <% @rangedd = Requestfordm.where('(driverride_id = ?) AND (status = ?)', driverride.id, 'Accepted') %>

                      <% if @rangedd.present? %>

                      <% else %>

                      <%= link_to 'Edit', edit_driverride_path(driverride), class: "btn btn-success" %>
                      <%= link_to 'Delete', driverride_path(driverride), method: :delete,
                                  data: { confirm: "Are you sure you want to delete this ride?"},
                                  class: "btn btn-danger"%>
                          <% end %>
                  <% else %>
                      <%= link_to 'View Details', driverride_path(driverride), class: "btn btn-info" %>
                      <%= link_to 'Add Ride', driverride_path(driverride), class: "btn btn-primary" %>
                      <%= link_to 'Message', driverride_path(driverride), class: "btn btn-warning" %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>


    <% else %>

    <div class="well col-xs-14 col-xs-offset">
      <div class="container-fluid">
        <div class="row">
          <h4 align="center">Oops, no results found!</h4>
        </div>
      </div>
    </div>
<% end %>

<%= will_paginate @driverrides, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_label: 'Newer' %>